html {
    scroll-behavior: smooth;
}

.home {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

h2 {
    font-size: 2.2em !important;
  }

  p {
    font-size: 1.3em;
    line-height: 1.5;
  }

  
  @media (max-width: 767px) {
    h2 {
      font-size: 1.8em !important;
    }

    p {
        font-size: 1.1em;
      }
  }


