.intro {
    width: 100%;
    min-height: 85vh;
    padding: 80px 0;
    /* font-size: 1.4rem; */
    /* min-height: 100vh; */
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    
}