.projects {
  padding: 20px;
  background-color: #f9f9f9;
}

.projects h2 {
  font-size: 24px;
  color: #333;
  text-align: -webkit-center;

}

.projects .project {
  margin-bottom: 20px;
}

.projects .project-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.projects .project-description {
  font-size: 16px;
  color: #666;
}
